name: Test Storybook
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: Install Node.js
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version: 24

      - uses: pnpm/action-setup@v3
        name: Install pnpm
        with:
          run_install: true

      - name: Check Storybook can be built
        run: pnpm run build-storybook --test
